extends layouts/main

block content
    .header-profile
        .user-profile__coulmn
            .user-profile__header
                img(src=`/${user.avatarUrl}`).avatarImg
            .user-profile__edit
                h4.profile__username=user.name
                if loggedUser
                    if user.id == loggedUser.id
                        a(href=routes.edit_profile(user.id)).edit_buttom Edit Profile