extends layouts/main
include mixin/videoBlock

block content
    .header-profile
        .user-profile__coulmn
            .user-profile__header
                img(src=`/${user.avatarUrl}`).avatarImg
            .user-profile__edit
                h4.profile__username=user.name
                if loggedUser
                    if user.id == loggedUser.id
                        a(href=routes.edit_profile(user.id)).edit_buttom Edit Profile
        .uploads-videos
            each item in user.videos
                +videoBlock({
                    id: item._id,
                    title: item.title,
                    views: item.views,
                    videoFile: item.fileUrl
                })